/* style.css */
:root {
    --accent-0: #deff96;
    --accent-1: #7654b1;
    --base-0: #1e1c2c;
    --base-1: #221f31;
    --white: #FFFFFF;
}
@font-face {
    font-family: 'venus_cormier';
    src: url('/assets/fonts/venus_cormier.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* LANDING */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--base-0);
    color: var(--white);
    font-family: 'venus_cormier', monospace;
}

body > main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--base-0);
    color: var(--white);
    font-family: 'venus_cormier', monospace;
}

h1 {
    color: var(--accent-0);
    font-size: 5rem;
    margin: 0;
    font-weight: normal;
    display: flex;
    gap: 20px;
    align-items: baseline;
}

h2 {
    color: var(--accent-1);
    font-size: 2rem;
    margin: 0.5rem 0;
    font-weight: normal;
}

header, footer {
    /* width: 100%; */
    padding: 1rem;
    background-color: var(--base-1);
    display: flex;
    flex-direction: column;
}

nav a {
    color: var(--accent-1);
}
section a {
    text-decoration: none;
    color: var(--accent-1);
    background-color: var(--accent-0);
    font-weight: bolder;
}

p.badges {
    margin: 0.5rem 0 1rem 0;
    /* font-size: 1rem; */
}

.badge {
    padding: 1px 4px;
    display: inline-block;
    margin: 0 2px;
    font-size: 0.9rem;
}

.features {
    list-style: none;
    padding: 0;
    /* font-size: 0.95rem; */
    margin: 0.5rem 0;
}

.features li {
    margin: 0.3rem 0;
}

button {
    font-family: 'venus_cormier', monospace;
    padding: 8px 16px;
    background-color: var(--accent-1);
    color: white;
    border: none;
    /* font-size: 0.95rem; */
    cursor: pointer;
    margin-top: 1rem;
}

a img {
    height: 20px;
    vertical-align: middle;
    margin-right: 6px;
}

footer {
    /* width: 100%; */
    padding: 1rem;
    background-color: var(--base-1);
}


/* LOGIN */
.container {
    width: 310px;
    background: var(--base-1);
    padding: 20px;
    border-radius: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 10px;
}

.tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 16px;
    cursor: pointer;
    background-color: var(--accent-2);
    color: white;
    font-weight: bold;
    /* font-size: 2rem; */
    border: none;
}

.tab.active {
    background-color: var(--accent-0);
    color: var(--accent-1);
}

.form {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.form.active {
    display: flex;
}

input {
    font-family: 'venus_cormier', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    /* width: 100%; */
    font-size: 2rem;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: var(--accent-0);
    color: var(--accent-1);
}

button {
    font-family: 'venus_cormier', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
    background-color: var(--accent-1);
    color: white;
    border: none;
    border-radius: 0;
    font-size: small;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--accent-2);
}

/* APP */
.header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    justify-content: space-between;
}
.search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: calc(100% - 50px);
}
.search-wrapper {
    position: relative;
    width: 100%;
}
#searchInput {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 0px;
    color: var(--accent-1);
    background-color: var(--accent-0);
    font-weight: bold;
    font-size: 16px;
    outline: none;
    text-transform: uppercase;
    box-sizing: border-box;
    box-shadow: 0 2px 5px var(--shadow-0);
    transition: box-shadow 0.3s ease;
}
#searchInput::placeholder {
    color: var(--text-0);
}
#searchInput:hover {
    box-shadow: 0 16px 32px var(--shadow-1);
}

.user-icon {
    background-color: var(--accent-1);
    color: var(--accent-0);
    width: 100px;
    height: 38px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
    text-transform: uppercase;
    box-shadow: 0 2px 5px var(--shadow-0);
    transition: box-shadow 0.3s ease;
}
.user-icon:hover {
    box-shadow: 0 16px 32px var(--shadow-1);
}

.masonry-grid {
    column-count: 4; /* Adjust number based on screen size */
    column-gap: 16px;
    padding: 20px;
}
.masonry-grid:hover .grid-item:hover {
    opacity: 1;
}

.grid-item {
    overflow: hidden;
    border-radius: 0px;
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
    opacity: 0.7;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    break-inside: avoid; /* Key for masonry effect */
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.grid-item .timestamp {
    display: none;
}
.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px var(--shadow-1);
}  
.grid-item:hover .timestamp {
    opacity: 1;
}

.broken-image { 
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--base-3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--text-0);
}

.analysis-text {
    display: none;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    font-size: 14px;
    max-height: 50%;
}

.no-responses {
    color: var(--text-0);
    font-style: italic;
    text-align: center;
    padding: 20px;
}

.analysis-text, .timestamp {
    pointer-events: none;
}